body {
  color: #181818; }

.mt-150 {
  margin-top: 150px; }

.mb-150 {
  margin-bottom: 150px; }

ul li {
  list-style: none; }

a {
  color: #181818;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

header {
  padding: 16px 0 16px 0;
  display: block !important;
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  background-color: #fff;
  z-index: 9999;
  /* Blanc */ }
  header .mail {
    display: none; }
  header .header-left img {
    width: 200px;
    height: 43px; }
  header .header-right {
    padding-left: 175px; }
    header .header-right ul li {
      margin: 0 30px;
      position: relative; }
      header .header-right ul li:nth-child(1) {
        margin-left: 0; }
      header .header-right ul li:nth-last-child(1) select {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #4B4B4B;
        border: unset;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='13' viewBox='0 0 24 24' width='15' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position: right;
        width: 31px; }
        header .header-right ul li:nth-last-child(1) select:focus-visible {
          outline: none; }
      header .header-right ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */
        letter-spacing: 0.1em;
        text-transform: uppercase;
        /* Noir */
        color: #181818; }
        header .header-right ul li a img {
          margin-left: 50px;
          height: 10px;
          margin-bottom: 4px;
          display: none; }
      header .header-right ul li .active {
        border-bottom: 1px solid #4B4B4B;
        padding-bottom: 13px; }
      > header .header-right ul li:nth-last-child(1) {
        margin-right: 0; }
        > header .header-right ul li:nth-last-child(1) a {
          font-style: normal;
          font-weight: 300;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.1em;
          text-transform: uppercase; }
    header .header-right ul .menu-icon {
      display: none; }
  header .header-dropdown {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    padding-top: 43px; }
    header .header-dropdown .item .title {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 15px;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    header .header-dropdown .item ul li {
      font-weight: 300;
      font-size: 16px;
      color: #4B4B4B;
      line-height: 23px;
      margin-bottom: 12px; }
    header .header-dropdown .close {
      margin-top: 37px;
      margin-bottom: 37px; }
      header .header-dropdown .close a {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #4B4B4B; }
        header .header-dropdown .close a img {
          height: 9px;
          padding-bottom: 1px; }
        header .header-dropdown .close a:hover {
          color: #4B4B4B; }

.slider {
  height: 535px;
  position: relative;
  color: #ffffff; }
  .slider img {
    width: 100%;
    height: 100%; }
  .slider .slider-details {
    /* Rectangle 25 */
    position: absolute;
    width: 499px;
    height: 528px;
    left: 115px;
    top: 34px;
    background: #181818;
    padding: 99px 75px 0 102px; }
    .slider .slider-details .title {
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.01em; }
    .slider .slider-details .description {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px; }
    .slider .slider-details a {
      padding: 15px 20px;
      background-color: #fff;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */
      text-align: center;
      letter-spacing: 0.02em; }
      .slider .slider-details a:hover {
        background-color: #181818;
        color: #fff; }

.reassurance {
  margin-top: 105px; }
  .reassurance p {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    color: #4B4B4B;
    margin-bottom: 0; }
  .reassurance .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase; }

.conseil {
  position: fixed;
  right: 0;
  bottom: 84px;
  background-color: #181818;
  padding: 7px 11px 7px 20px;
  color: #fff;
  z-index: 999; }
  .conseil:hover {
    color: #fff; }

.conseil-off {
  position: fixed;
  right: 0;
  bottom: 84px;
  background-color: #181818;
  padding: 12px 18px;
  z-index: 999; }

.agence .left img {
  width: 100%; }
.agence .right {
  padding-left: 124.5px; }
  .agence .right h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .agence .right p {
    color: #4B4B4B;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px; }
  .agence .right b {
    font-weight: 600; }

.prix {
  margin-bottom: 150px; }

.etapes {
  margin-bottom: 150px; }
  .etapes .left {
    flex: 50%; }
    .etapes .left h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    .etapes .left h3 {
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    .etapes .left .col-lg-6:nth-child(1) {
      margin-bottom: 42px; }
    .etapes .left .col-lg-6:nth-child(2) {
      margin-bottom: 42px; }
    .etapes .left .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-bottom: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    .etapes .left p {
      font-weight: 300;
      font-size: 16px;
      color: #4B4B4B;
      line-height: 20px;
      margin-bottom: 0; }
  .etapes .right {
    flex: 50%;
    text-align: right; }
    .etapes .right img {
      height: 100%; }

.banniere .left {
  text-transform: uppercase;
  margin-right: 78px; }
  .banniere .left h2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px; }
  .banniere .left p {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px; }
.banniere .right h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px; }
.banniere .right p {
  font-size: 16px;
  line-height: 19px;
  color: #4B4B4B; }

.service img {
  width: 100%; }
.service .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 31px; }
.service a:hover .service-wrap {
  background-position: left bottom;
  color: #181818;
  border: 1px solid #181818; }
  .service a:hover .service-wrap .right .black {
    display: block; }
  .service a:hover .service-wrap .right .white {
    display: none; }
.service a .service-wrap {
  background: linear-gradient(to right, #fff 50%, #181818 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .8s ease-out;
  float: right;
  padding: 20px 0 20px 27px;
  width: 293px;
  height: 77px;
  background-color: #181818;
  color: #fff;
  text-transform: uppercase; }
  .service a .service-wrap .left {
    width: 223px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .service a .service-wrap .right .black {
    display: none; }

.real h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 21px; }
.real .left {
  position: relative; }
  .real .left a {
    position: absolute;
    bottom: 12px;
    left: 29px;
    transition: all .8s ease-out; }
    .real .left a div {
      width: 133px;
      height: 47px;
      position: relative;
      transition: all .8s ease-out; }
      .real .left a div p {
        position: absolute;
        color: #fff;
        bottom: -17px;
        left: 3px;
        transition: all .8s ease-out; }
    .real .left a:hover div {
      border: 1px solid #fff; }
    .real .left a:hover p {
      bottom: -5px;
      left: 18px; }
.real .right .top {
  margin-bottom: 40px; }
.real .right .bottom {
  margin-top: 55px; }
.real .right .item {
  position: relative; }
  .real .right .item a {
    position: absolute;
    bottom: 12px;
    left: 86px;
    transition: all .8s ease-out; }
    .real .right .item a div {
      width: 133px;
      height: 47px;
      position: relative;
      transition: all .8s ease-out; }
      .real .right .item a div p {
        position: absolute;
        color: #fff;
        bottom: -17px;
        left: 53px;
        transition: all .8s ease-out; }

.avis h2 {
  margin-bottom: 52px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
.avis .item p {
  margin-top: 18px;
  margin-bottom: 30px; }

.blog img {
  width: 100%; }
.blog a:hover .service-wrap {
  background-position: left bottom;
  color: #181818;
  border: 1px solid #181818; }
  .blog a:hover .service-wrap .right .black {
    display: block; }
  .blog a:hover .service-wrap .right .white {
    display: none; }
.blog a .service-wrap {
  background: linear-gradient(to right, #fff 50%, #181818 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .8s ease-out;
  float: right;
  padding: 20px 0 20px 27px;
  width: 257px;
  height: 77px;
  background-color: #181818;
  color: #fff;
  text-transform: uppercase; }
  .blog a .service-wrap .left {
    width: 187px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .blog a .service-wrap .right .black {
    display: none; }
.blog .swiper-wrapper {
  padding-bottom: 50px; }
.blog .swiper-pagination .swiper-pagination-bullet {
  background-color: #181818; }

.agence-serero {
  color: #fff;
  background: url(/public/img/Serero/Rectangle5-1.jpg) 50% no-repeat;
  background-size: cover;
  padding: 115px 0; }
  .agence-serero h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 30px; }
  .agence-serero p {
    max-width: 816px;
    font-size: 24px;
    line-height: 28px; }

.lagence .container-fluid {
  padding: 0; }
.lagence .left {
  flex: 50%; }
.lagence .right {
  flex: 50%;
  margin: auto; }
  .lagence .right .wrap {
    max-width: 390px;
    margin: auto; }
    .lagence .right .wrap h3 {
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 21px; }
    .lagence .right .wrap p {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #4B4B4B;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 10px 0px; }

.lequipe .container-fluid {
  padding: 0; }
.lequipe .left {
  flex: 50%;
  margin: auto; }
  .lequipe .left .wrap {
    max-width: 390px; }
    .lequipe .left .wrap h3 {
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 21px; }
    .lequipe .left .wrap p {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #4B4B4B;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 10px 0px; }
.lequipe .right {
  flex: 50%;
  text-align: right; }

.ordre h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px; }
.ordre p {
  font-weight: 300;
  font-size: 16px;
  color: #4B4B4B;
  line-height: 23px;
  max-width: 816px;
  margin: auto;
  margin-bottom: 18px; }
.ordre .image img:nth-child(1) {
  margin-right: 35px; }
.ordre .image img:nth-child(2) {
  margin-left: 35px; }

.notre-equipe .wrap {
  max-width: 928px; }
  .notre-equipe .wrap h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .notre-equipe .wrap .item img {
    margin-bottom: 14px; }
  .notre-equipe .wrap .item p {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #4B4B4B; }
  .notre-equipe .wrap .item .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase; }

.distinctions h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 35px; }
.distinctions .item:nth-child(n+5) {
  margin-top: 1.5rem; }

.header-guides .path {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px; }
  .header-guides .path p {
    padding: 0;
    margin: 0; }
  .header-guides .path b {
    font-weight: 500; }
.header-guides form {
  position: relative;
  max-width: 279px; }
  .header-guides form input {
    padding: 8px 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #4B4B4B;
    padding-right: 30px; }
    .header-guides form input:focus {
      outline: none; }
  .header-guides form button {
    position: absolute;
    right: 0;
    top: 5px;
    border: none;
    border: none;
    background-color: unset; }
.header-guides .content h2 {
  font-weight: 300;
  font-size: 48px;
  margin-top: 22px;
  margin-bottom: 29px;
  line-height: 56px; }
.header-guides .content p {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 14px; }
.header-guides .tag {
  flex-flow: row wrap;
  max-width: 644px; }
  .header-guides .tag .item {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    border: 1px solid #4B4B4B;
    padding: 8px 12px;
    margin-top: 15px; }
  .header-guides .tag select {
    padding: 13.5px 14px;
    border: 1px solid #000;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #181818;
    display: none; }

.g-blog {
  max-width: 1028px;
  margin: auto; }
  .g-blog .d-flex {
    flex-wrap: wrap; }
  .g-blog .item {
    margin-top: 150px;
    flex: 0 0 33.333333%;
    max-width: 287px; }
    .g-blog .item p {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      /* or 144% */
      color: #4B4B4B;
      margin-bottom: 0; }
    .g-blog .item .title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-top: 18px;
      margin-bottom: 10px; }
    .g-blog .item img {
      width: 100%; }
  .g-blog .pagination {
    margin-top: 150px; }
    .g-blog .pagination .page {
      padding: 10px 15px;
      margin: 0 10px;
      font-size: 16px;
      line-height: 18px;
      border: 1px solid #BEBEBE;
      color: #BEBEBE; }
    .g-blog .pagination .active {
      border: 1px solid #181818;
      color: #181818; }

.g-post {
  max-width: 812px;
  padding-top: 150px;
  margin: auto; }
  .g-post .name {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .g-post .date {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px; }
  .g-post .content {
    margin-top: 30px; }
    .g-post .content .bold {
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 22px;
      margin-top: 20px; }
    .g-post .content p {
      color: #4B4B4B;
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      margin: 0;
      margin-bottom: 10px; }
  .g-post .tag {
    flex-flow: row wrap;
    margin-bottom: 44px;
    margin-top: 37px; }
    .g-post .tag .item {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin-right: 10px;
      border: 1px solid #4B4B4B;
      padding: 8px 12px;
      margin-top: 10px; }
      .g-post .tag .item:nth-last-child(1) {
        margin-right: 0; }
  .g-post .social p {
    margin-right: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 0; }
  .g-post .social img {
    margin-right: 30px; }

.g-blog-second {
  max-width: 1028px;
  margin: auto;
  padding-top: 150px; }
  .g-blog-second h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 33px; }
  .g-blog-second .block1 .item {
    max-width: 288px;
    flex: 0 0 33.333333%; }
    .g-blog-second .block1 .item p {
      color: #4B4B4B;
      font-weight: 300;
      font-size: 16px;
      line-height: 23px; }
    .g-blog-second .block1 .item .title {
      margin-top: 17px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
  .g-blog-second .block2 h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .g-blog-second .block2 .item {
    width: 288px; }
    .g-blog-second .block2 .item p {
      color: #4B4B4B;
      font-weight: 300;
      font-size: 18px;
      line-height: 26px; }
    .g-blog-second .block2 .item .title {
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #181818; }

.renovation {
  max-width: 1028px;
  padding-top: 150px; }
  .renovation h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 21px;
    padding: 0; }
  .renovation p {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #4B4B4B;
    max-width: 720px;
    margin: auto; }
  .renovation img {
    margin-top: 22px; }
  .renovation .button {
    padding-top: 20px;
    margin-top: 22px; }
    .renovation .button a {
      padding: 20px 30px;
      color: #fff;
      background-color: #181818;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
      .renovation .button a:hover {
        background-color: #4B4B4B;
        color: #fff; }

.autres .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 33px; }
.autres p {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #4B4B4B; }
.autres .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #181818;
  margin-top: 15px;
  margin-bottom: 3px; }

.service-second .swiper-wrapper {
  margin-bottom: 24px; }
.service-second .swiper-pagination {
  bottom: 0; }
  .service-second .swiper-pagination .swiper-pagination-bullet {
    background-color: #181818; }
.service-second .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 31px; }
.service-second img {
  width: 100%; }
.service-second a:hover .service-wrap {
  background-position: left bottom;
  color: #181818;
  border: 1px solid #181818; }
  .service-second a:hover .service-wrap .right .black {
    display: block; }
  .service-second a:hover .service-wrap .right .white {
    display: none; }
.service-second a .service-wrap {
  background: linear-gradient(to right, #fff 50%, #181818 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .8s ease-out;
  float: right;
  padding: 20px 0 20px 27px;
  width: 293px;
  height: 77px;
  background-color: #181818;
  color: #fff;
  text-transform: uppercase; }
  .service-second a .service-wrap .left {
    width: 223px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .service-second a .service-wrap .right .black {
    display: none; }

.projets > .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
.projets > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 12px; }
.projets img {
  width: 100%; }
.projets a:hover .service-wrap {
  background-position: left bottom;
  color: #181818;
  border: 1px solid #181818; }
  .projets a:hover .service-wrap .right .black {
    display: block; }
  .projets a:hover .service-wrap .right .white {
    display: none; }
.projets a .service-wrap {
  background: linear-gradient(to right, #fff 50%, #181818 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .8s ease-out;
  float: right;
  padding: 20px 16px 20px 27px;
  width: 225px;
  height: 77px;
  background-color: #181818;
  color: #fff;
  text-transform: uppercase; }
  .projets a .service-wrap .left {
    width: 187px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .projets a .service-wrap .right .black {
    display: none; }
.projets .swiper-wrapper {
  margin-bottom: 24px; }
.projets .swiper-pagination {
  bottom: 0; }
  .projets .swiper-pagination .swiper-pagination-bullet {
    background-color: #181818; }

.nous {
  margin-bottom: 30px; }
  .nous img {
    max-width: 100%; }
  .nous > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #4B4B4B;
    max-width: 420px;
    margin: auto; }
  .nous > .title {
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 16px; }
  .nous .content {
    position: relative;
    margin-top: 91px; }
    .nous .content .wrap {
      opacity: 0.9;
      background-color: #181818;
      color: #fff;
      padding: 68px 0; }
      .nous .content .wrap form {
        margin: auto;
        max-width: 392px; }
        .nous .content .wrap form .title {
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          margin-bottom: 5px; }
        .nous .content .wrap form p {
          font-weight: 300;
          font-size: 16px;
          line-height: 23px;
          margin-bottom: 11px; }
        .nous .content .wrap form > input {
          width: 100%;
          color: #BEBEBE;
          padding: 16px 20px;
          margin-bottom: 15px;
          font-size: 16px;
          line-height: 18px; }
          .nous .content .wrap form > input::placeholder {
            color: #BEBEBE; }
          .nous .content .wrap form > input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #BEBEBE; }
          .nous .content .wrap form > input::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #BEBEBE; }
        .nous .content .wrap form textarea {
          width: 100%;
          height: 130px;
          color: #BEBEBE;
          padding: 16px 20px;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 11px; }
          .nous .content .wrap form textarea::placeholder {
            color: #BEBEBE; }
          .nous .content .wrap form textarea:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #BEBEBE; }
          .nous .content .wrap form textarea::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #BEBEBE; }
        .nous .content .wrap form select {
          margin-bottom: 15px;
          width: 100%;
          color: #BEBEBE;
          padding: 16px 20px;
          font-size: 16px;
          line-height: 18px;
          border: unset;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
          background-repeat: no-repeat;
          background-position: 98% 50%; }
          .nous .content .wrap form select:focus-visible {
            outline: none; }
          .nous .content .wrap form select::placeholder {
            color: #BEBEBE; }
          .nous .content .wrap form select:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #BEBEBE; }
          .nous .content .wrap form select::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #BEBEBE; }
        .nous .content .wrap form .form-check input[type="checkbox"] {
          background-color: #181818;
          border-color: #fff;
          border-radius: unset; }
        .nous .content .wrap form .form-check label {
          font-weight: 300;
          font-size: 16px;
          line-height: 23px; }
        .nous .content .wrap form button {
          background-color: #181818;
          color: #fff;
          border: 1px solid #fff;
          padding: 15px 30px;
          margin-top: 40px; }
    .nous .content img {
      position: absolute;
      top: -61px;
      left: 0; }

.autres-second {
  max-width: 1028px;
  margin: auto;
  flex-wrap: wrap; }
  .autres-second img {
    width: 100%; }
  .autres-second .item {
    width: 287px;
    margin-top: 120px; }
    .autres-second .item img {
      margin-bottom: 15px; }
    .autres-second .item p {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #4B4B4B;
      margin-bottom: 0; }
    .autres-second .item .name {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 3px; }

.arcueil {
  max-width: 812px;
  margin: auto; }
  .arcueil .title {
    margin-top: 34px; }
    .arcueil .title .left {
      float: left; }
      .arcueil .title .left h3 {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .arcueil .title .left p {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px; }
    .arcueil .title .right {
      float: right;
      margin-top: 10px; }
      .arcueil .title .right img {
        margin-right: 30px; }
        .arcueil .title .right img:nth-last-child(1) {
          margin-right: 0; }
  .arcueil .content {
    margin-top: 30px; }
    .arcueil .content .info {
      flex-wrap: wrap; }
      .arcueil .content .info .item {
        margin-right: 25px;
        margin-bottom: 10px; }
        .arcueil .content .info .item p {
          margin-right: 10px;
          font-weight: 500;
          font-size: 15px;
          line-height: 23px;
          margin-bottom: 0; }
        .arcueil .content .info .item span {
          font-weight: 300;
          font-size: 15px;
          line-height: 23px;
          color: #4B4B4B; }
    .arcueil .content .main p {
      font-weight: 300;
      font-size: 18px;
      line-height: 26px;
      color: #4B4B4B;
      text-align: left;
      margin-bottom: 10px; }
    .arcueil .content .tag {
      flex-flow: row wrap;
      margin-bottom: 44px; }
      .arcueil .content .tag .item {
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 10px;
        border: 1px solid #4B4B4B;
        padding: 8px 12px;
        margin-top: 20px; }
    .arcueil .content .social p {
      margin-right: 25px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      margin-bottom: 0;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    .arcueil .content .social img {
      margin-right: 30px; }

.autres-third {
  max-width: 1031px;
  margin: auto;
  padding-top: 130px; }
  .autres-third h3 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 33px; }
  .autres-third .item img {
    margin-bottom: 15px; }
  .autres-third .item p {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #4B4B4B;
    margin-bottom: 0; }
  .autres-third .item .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 3px; }

.offre {
  position: relative; }
  .offre > img {
    position: absolute;
    z-index: -1;
    top: -61px; }
  .offre .wrap-offre .w70 {
    width: 70%; }
  .offre .wrap-offre .w30 {
    width: 30%;
    padding: 56px 31px 55px 28px !important; }
  .offre .wrap-offre .left {
    position: relative;
    padding: 66px 71px 30px 106px;
    background: rgba(255, 255, 255, 0.9); }
    .offre .wrap-offre .left .swiper-container {
      max-height: 555px; }
      .offre .wrap-offre .left .swiper-container .swiper-wrapper .swiper-slide {
        height: auto !important; }
    .offre .wrap-offre .left .item .content {
      padding: 26px 14px 28px 31px;
      background-color: #fff;
      border: 1px solid #181818; }
      .offre .wrap-offre .left .item .content .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 10px; }
    .offre .wrap-offre .left .item .button {
      border: none;
      background-color: #181818;
      color: #fff;
      padding: 12px 16px;
      font-weight: 300;
      font-size: 16px;
      line-height: 23px; }
      .offre .wrap-offre .left .item .button img {
        margin-left: 20px; }
    .offre .wrap-offre .left p {
      margin-bottom: 0; }
    .offre .wrap-offre .left h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: 24px; }
    .offre .wrap-offre .left .return {
      position: absolute;
      top: 25px;
      left: 27px; }
      .offre .wrap-offre .left .return svg {
        margin-right: 8px; }
      .offre .wrap-offre .left .return:hover {
        text-decoration-line: underline;
        color: #181818; }
    .offre .wrap-offre .left .content-item {
      position: relative; }
      .offre .wrap-offre .left .content-item .button {
        border: none;
        background-color: #181818;
        color: #fff;
        padding: 12px 16px;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px; }
        .offre .wrap-offre .left .content-item .button img {
          margin-left: 20px; }
      .offre .wrap-offre .left .content-item .main {
        background-color: #fff;
        padding: 38px 47px;
        max-height: 504px;
        overflow: auto; }
        .offre .wrap-offre .left .content-item .main::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #E8E8E8; }
        .offre .wrap-offre .left .content-item .main::-webkit-scrollbar {
          width: 4px;
          height: 60px;
          background-color: #F5F5F5; }
        .offre .wrap-offre .left .content-item .main::-webkit-scrollbar-thumb {
          background-color: #181818;
          border: 2px solid #555555; }
        .offre .wrap-offre .left .content-item .main b {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          /* identical to box height */
          letter-spacing: 0.1em;
          text-transform: uppercase; }
        .offre .wrap-offre .left .content-item .main p {
          font-weight: 300;
          font-size: 18px;
          line-height: 26px; }
  .offre .wrap-offre .right {
    background: rgba(24, 24, 24, 0.9);
    color: #fff;
    padding: 66px 110px 60px 102px; }
    .offre .wrap-offre .right h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-transform: uppercase; }
    .offre .wrap-offre .right p {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px; }
    .offre .wrap-offre .right input {
      width: 100%;
      color: #BEBEBE;
      padding: 16px 20px;
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 18px; }
      .offre .wrap-offre .right input::placeholder {
        color: #BEBEBE; }
      .offre .wrap-offre .right input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #BEBEBE; }
      .offre .wrap-offre .right input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #BEBEBE; }
    .offre .wrap-offre .right textarea {
      width: 100%;
      height: 130px;
      color: #BEBEBE;
      padding: 16px 20px;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 40px; }
      .offre .wrap-offre .right textarea::placeholder {
        color: #BEBEBE; }
      .offre .wrap-offre .right textarea:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #BEBEBE; }
      .offre .wrap-offre .right textarea::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #BEBEBE; }
    .offre .wrap-offre .right button {
      padding: 15px 30px;
      background-color: unset;
      border: 1px solid #fff;
      color: #fff; }
    .offre .wrap-offre .right .custom-input-text {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 12px; }
    .offre .wrap-offre .right .file-upload {
      margin-bottom: 5px;
      padding: 7px 7px 7px 20px;
      background-color: #fff;
      border: 1px solid #fff;
      color: #BEBEBE; }
      .offre .wrap-offre .right .file-upload input[type="file"] {
        margin-bottom: 5px;
        display: none; }
      .offre .wrap-offre .right .file-upload .custom-file-upload {
        float: right;
        color: #4B4B4B;
        border: 1px solid #4B4B4B;
        padding: 6px; }
      .offre .wrap-offre .right .file-upload span {
        max-width: 190px;
        overflow-x: hidden;
        white-space: nowrap; }

.mentions .wrap {
  max-width: 812px;
  margin: auto; }
  .mentions .wrap h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .mentions .wrap .description {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px; }
  .mentions .wrap p {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
    color: #4B4B4B; }
  .mentions .wrap .title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 22px;
    color: #181818; }

.bannerquestion .wrap {
  background: url("img/Serero/JPEG x1/Rectangle 21.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .bannerquestion .wrap .content {
    padding: 31px 61px 31px 41px; }
    .bannerquestion .wrap .content .left {
      color: #fff; }
      .bannerquestion .wrap .content .left h3 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 0.01em; }
      .bannerquestion .wrap .content .left p {
        font-size: 16px;
        line-height: 23px; }
    .bannerquestion .wrap .content .right {
      margin: auto;
      text-align: right; }
      .bannerquestion .wrap .content .right a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 20px 30px;
        background-color: #fff; }

.header-second {
  background: url("img/Serero/JPEG x1/Rectangle 56.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .header-second .head {
    padding-top: 21px; }
    .header-second .head .menu li {
      margin-left: 60px; }
      .header-second .head .menu li a {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        /* identical to box height */
        letter-spacing: 0.1em;
        text-transform: uppercase; }
      .header-second .head .menu li:nth-child(1) {
        margin-left: 0; }
      .header-second .head .menu li:nth-last-child(1) a {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #4B4B4B; }
  .header-second .banner {
    padding-top: 240px;
    padding-bottom: 294px; }
    .header-second .banner h3 {
      font-weight: 300;
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 10px; }
    .header-second .banner p {
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 40px; }
    .header-second .banner a {
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */
      text-align: center;
      letter-spacing: 0.02em;
      color: #fff;
      background-color: #181818;
      padding: 15px 30px; }

footer .first p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 28.5px; }
footer .first img {
  margin-right: 30px; }
  footer .first img:nth-last-child(1) {
    margin: 0; }
footer .second {
  margin-top: 37px; }
  footer .second form {
    padding: 17px 23px;
    border: 1px solid #181818; }
    footer .second form input {
      width: 463px;
      border: 0;
      border-bottom: 1px solid #4B4B4B; }
      footer .second form input:focus {
        outline: none; }
    footer .second form button {
      background-color: #fff;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding-left: 18px; }
footer .third {
  margin-top: 60px; }
  footer .third .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>"); }
  footer .third .accordion-button:not(.collapsed)::after {
    transform: unset;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>"); }
  footer .third .accordion-button:not(.collapsed) {
    color: #181818;
    background-color: unset;
    box-shadow: unset; }
  footer .third .accordion {
    display: none; }
    footer .third .accordion .item {
      border-bottom: 1px solid #4B4B4B;
      text-align-last: left; }
      footer .third .accordion .item:nth-last-child(1) {
        border-bottom: unset; }
      footer .third .accordion .item ul li {
        max-width: 100%; }
      footer .third .accordion .item > a {
        padding: 25px 0; }
        footer .third .accordion .item > a:hover {
          color: #181818; }
  footer .third .item .title {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    margin-bottom: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    max-width: 190px; }
  footer .third .item ul li {
    max-width: 200px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
    line-height: 23px;
    margin-bottom: 10px; }
    footer .third .item ul li:nth-last-child(1) {
      margin-bottom: 0; }
    footer .third .item ul li a:hover {
      text-decoration: underline;
      color: #181818; }
footer .copyright {
  margin-top: 56px; }
  footer .copyright p {
    font-weight: 300;
    font-size: 12px;
    color: #4B4B4B;
    line-height: 14px;
    margin-top: 14px;
    margin-bottom: 18px; }

.navbar-toggler {
  border: none !important; }

.hide {
  display: none; }

.show {
  display: unset; }

@media (min-width: 1400px) {
  .offre .wrap-offre .left .swiper-container {
    max-height: 481px; } }
@media (max-width: 1400px) {
  .real .right .item a {
    left: 40px; } }
@media (max-width: 1200px) {
  header .header-right ul li {
    margin: 0 15px; }

  .real .right .item a {
    left: 0; }

  .header-second .head .menu li {
    margin-left: 40px; }

  .offre .wrap-offre .left .swiper-container {
    max-height: 663px; } }
@media (min-width: 992px) {
  .offre .wrap-offre .left .swiper-container {
    padding-right: 33px; }
    .offre .wrap-offre .left .swiper-container .swiper-scrollbar {
      top: 0%;
      height: 100%;
      right: 0; }
      .offre .wrap-offre .left .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
        background: #181818; } }
@media (max-width: 992px) {
  header .header-left img {
    width: 200px;
    height: 43px; }
  header .header-right {
    padding-left: 0;
    padding-top: 111px; }
    header .header-right ul li {
      margin: 0 0 40px 0; }
      header .header-right ul li .active {
        border-bottom: none; }
      header .header-right ul li a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #181818; }
        header .header-right ul li a img {
          display: unset; }
  header .mail {
    display: block; }

  .agence {
    margin-top: 50px; }
    .agence .left {
      padding: 0; }
    .agence .right {
      padding-left: 0.7rem; }
      .agence .right div div {
        text-align: center; }
      .agence .right h3 {
        padding-top: 20px;
        padding-bottom: 21px; }

  .prix {
    margin-top: 43px;
    margin-bottom: 33px; }

  .reassurance {
    margin-top: 44px;
    margin-bottom: 50px; }
    .reassurance .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0; }
    .reassurance .swiper-pagination .swiper-pagination-bullet {
      background-color: #181818; }

  .conseil {
    display: none; }

  .conseil-off {
    display: none; }

  .etapes {
    margin-bottom: 50px; }
    .etapes .d-flex {
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse; }
    .etapes .left {
      flex: 100%; }
    .etapes .right {
      flex: 100%; }
      .etapes .right img {
        width: 100%; }

  .service {
    margin-top: 60px; }
    .service .service-item:nth-last-child(1) {
      margin-top: 30px; }

  .real {
    margin-top: 50px; }
    .real .left a div p {
      background-color: #fff;
      color: #181818;
      padding: 16px;
      bottom: -29px;
      left: -30px; }
    .real .left a:hover div {
      border: unset; }
    .real .left a:hover p {
      bottom: -29px;
      left: -30px; }
    .real .right .item a {
      left: 86px; }
      .real .right .item a div p {
        background-color: #fff;
        color: #181818;
        padding: 16px;
        bottom: -30px;
        left: -88px; }

  .avis {
    margin-top: 50px; }
    .avis h2 {
      margin-bottom: 29px; }
    .avis .swiper-wrapper {
      padding-bottom: 24px; }
    .avis .swiper-pagination .swiper-pagination-bullet {
      background-color: #181818; }
    .avis .item p {
      margin-bottom: 20px; }

  .blog {
    margin-top: 65px; }
    .blog .swiper-wrapper {
      padding-bottom: 50px; }
    .blog .swiper-pagination .swiper-pagination-bullet {
      background-color: #181818; }

  .agence-serero {
    margin-top: 50px; }
    .agence-serero p {
      padding: 0 20px; }

  .lagence {
    margin-top: 50px; }
    .lagence img {
      width: 100%; }
    .lagence .d-flex {
      flex-wrap: wrap; }
      .lagence .d-flex .left {
        flex: 0 0 100%; }
      .lagence .d-flex .right {
        flex: 0 0 100%; }
        .lagence .d-flex .right .wrap {
          padding: 0 0.75rem;
          max-width: 100%; }
        .lagence .d-flex .right h3 {
          margin-top: 22px; }

  .lequipe {
    margin-top: 6px; }
    .lequipe .d-flex {
      flex-direction: row-reverse;
      flex-wrap: wrap-reverse; }
      .lequipe .d-flex .left {
        flex: 100%; }
        .lequipe .d-flex .left .wrap {
          padding: 0 0.75rem;
          max-width: 100%; }
          .lequipe .d-flex .left .wrap h3 {
            margin-top: 22px; }
      .lequipe .d-flex .right {
        flex: 100%; }
    .lequipe img {
      width: 100%; }

  .ordre {
    margin-top: 60px; }
    .ordre .image img:nth-child(1) {
      margin-right: 0; }
    .ordre .image img:nth-child(2) {
      margin-left: 0; }

  .notre-equipe {
    margin-top: 50px;
    padding: 0 0.75rem; }
    .notre-equipe .wrap h2 {
      margin-bottom: 13px; }
    .notre-equipe .wrap .item img {
      width: 100%; }

  .distinctions {
    margin-top: 50px; }
    .distinctions h2 {
      margin-bottom: 12px; }
    .distinctions .item:nth-child(n+4) {
      margin-top: 1.5rem; }

  .header-guides {
    margin-top: 50px; }
    .header-guides .path {
      text-align: center; }
    .header-guides .search {
      margin-bottom: 36px;
      padding: 0; }
      .header-guides .search form {
        margin: auto; }
    .header-guides .content p {
      margin-bottom: 33px; }
    .header-guides .tag .item {
      display: none; }
    .header-guides .tag select {
      display: block;
      max-width: 279px;
      width: 100%; }

  .g-blog .item {
    margin-top: 30px;
    flex: 0 0 50%;
    max-width: 100%;
    padding: 0 42px; }
  .g-blog .pagination {
    margin-top: 19px; }

  .g-post {
    padding-top: 50px;
    padding-left: 0.75rem;
    padding-right: 0.75rem; }

  .g-blog-second {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 62px; }
    .g-blog-second h3 {
      margin-bottom: 12px;
      padding: 0 42px; }
    .g-blog-second .block1 {
      flex-wrap: wrap; }
      .g-blog-second .block1 .item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 42px; }
        .g-blog-second .block1 .item img {
          width: 100%; }
        .g-blog-second .block1 .item:nth-last-child(1) {
          margin-top: 44px; }
    .g-blog-second .block2 {
      margin-top: 50px;
      flex-wrap: wrap; }
      .g-blog-second .block2 .item {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 42px; }
        .g-blog-second .block2 .item img {
          width: 100%; }
        .g-blog-second .block2 .item:nth-last-child(1) {
          margin-top: 34px; }
        .g-blog-second .block2 .item p {
          margin-bottom: 0; }
        .g-blog-second .block2 .item .title {
          margin-bottom: 9px; }

  .img-banner {
    margin-top: 50px; }

  .renovation {
    padding-top: 40px; }

  .autres {
    margin-top: 50px; }
    .autres .title {
      margin-bottom: 6px; }
    .autres .swiper-wrapper {
      padding-bottom: 24px; }
    .autres .swiper-pagination .swiper-pagination-bullet {
      background-color: #181818; }

  .service-second {
    margin-top: 50px; }
    .service-second .swiper-wrapper {
      margin-bottom: 24px; }
    .service-second .swiper-pagination {
      bottom: 0; }
      .service-second .swiper-pagination .swiper-pagination-bullet {
        background-color: #181818; }

  .projets {
    margin-top: 50px; }

  .nous {
    margin-top: 50px; }
    .nous .content {
      margin-top: 15px; }
      .nous .content img {
        display: none; }

  .autres-second .item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 42px;
    margin-top: 30px; }

  .img-banner2 {
    margin-top: 50px; }

  .arcueil .title {
    padding: 0 0.75rem;
    margin-top: 10px; }
  .arcueil .content .info {
    padding: 0 0.75rem; }
  .arcueil .content .main p {
    padding: 0 0.75rem; }
  .arcueil .content .main img {
    width: 100%; }
  .arcueil .content .tag {
    padding: 0 0.75rem; }
  .arcueil .content .social {
    padding: 0 0.75rem; }

  .autres-third {
    padding: 0 0.75rem;
    padding-top: 53px; }
    .autres-third h3 {
      margin-bottom: 12px; }
    .autres-third .item img {
      width: 100%; }
    .autres-third .swiper-wrapper {
      margin-bottom: 24px; }
    .autres-third .swiper-pagination {
      bottom: 0; }
      .autres-third .swiper-pagination .swiper-pagination-bullet {
        background-color: #181818; }

  .offre {
    margin-top: 50px; }
    .offre .wrap-offre .right {
      padding-bottom: 27px; }
      .offre .wrap-offre .right textarea {
        margin-bottom: 20px; }
    .offre > img {
      top: 0; }

  .mentions {
    margin-top: 50px; }
    .mentions .wrap {
      padding: 0 0.75rem; }

  .header-second {
    margin-top: 40px; }
    .header-second .head {
      display: none !important; }
    .header-second .banner {
      padding-top: 195px;
      padding-bottom: 159px; }

  .bannerquestion {
    margin-top: 30px; }
    .bannerquestion .wrap .content .left h3 {
      font-weight: normal;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.01em; }
    .bannerquestion .wrap .content .right {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 32px; }

  footer {
    margin-top: 34px !important; }
    footer .third {
      margin-top: 0; }
      footer .third .accordion {
        display: block; }
      footer .third .d-flex {
        display: none !important; }

  .offre .wrap-offre .left .swiper-container {
    padding-bottom: 22px; }
    .offre .wrap-offre .left .swiper-container .swiper-scrollbar {
      bottom: 0%;
      width: 100%;
      left: 0; }
      .offre .wrap-offre .left .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
        background: #181818; } }
@media (max-width: 768px) {
  footer .first {
    flex-flow: wrap; }
    footer .first p {
      flex: 100%;
      margin-right: 0; }
    footer .first div {
      flex: 100%;
      margin-top: 20px; }
  footer .second form input {
    width: 372px; }

  .slider .slider-details {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 26px 30px 0 30px;
    height: 473px; }

  .banniere {
    flex-flow: wrap; }

  .service .service-item {
    margin-top: 30px; }
    .service .service-item img {
      width: 100%; }

  .real .right .item {
    margin-top: 30px; }
    .real .right .item img {
      width: 100%; }

  .reassurance .swiper-wrapper {
    padding-bottom: 40px; }

  .distinctions .item:nth-child(n+3) {
    margin-top: 1.5rem; }

  .arcueil .content .info .item p {
    white-space: nowrap; }

  .nous > p {
    padding: 0 0.75rem; }

  .etapes .left .col-lg-6 {
    margin-bottom: 50px; }
    .etapes .left .col-lg-6:nth-last-child(1) {
      margin-bottom: 0; } }
@media (max-width: 576px) {
  footer .second {
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
    footer .second form {
      width: 100%; }
      footer .second form input {
        width: 100%;
        text-align: center; }
      footer .second form button {
        display: none; }

  header .header-right ul li {
    padding-left: 44px; }

  .slider .slider-details {
    width: 100%; }

  .service .service-item {
    padding: 0; }

  .real .real-left {
    padding: 0; }
  .real .right {
    padding: 0; }

  .etapes.container {
    padding: 0; }
    .etapes.container .left {
      padding: 0.75rem; }

  .distinctions .item:nth-child(n+2) {
    margin-top: 20px; }
  .distinctions .item img {
    width: 100%; }

  .g-blog .item {
    flex: 0 0 100%;
    padding: 0 0.75rem; }
    .g-blog .item:nth-child(1) {
      margin-top: 19px; }

  .g-post .social {
    flex-wrap: wrap; }
    .g-post .social p {
      flex: 0 0 100%;
      margin-bottom: 13px; }

  .g-blog-second h3 {
    padding: 0; }
  .g-blog-second .block1 .item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 44px;
    padding: 0; }
    .g-blog-second .block1 .item:nth-child(1) {
      margin-top: 0; }
  .g-blog-second .block2 .item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 34px;
    padding: 0; }
    .g-blog-second .block2 .item:nth-child(1) {
      margin-top: 0; }
    .g-blog-second .block2 .item .title {
      max-width: 260px; }

  .autres img {
    width: 100%; }

  .nous .content .wrap {
    padding-top: 32px;
    padding-bottom: 44px;
    padding-left: 0.75rem;
    padding-right: 0.75rem; }

  .autres-second {
    padding: 0 0.75rem; }
    .autres-second .item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0; }

  .arcueil .title .left {
    width: 100%; }
  .arcueil .title .right {
    float: left; }
  .arcueil .content .info .item {
    width: 100%;
    margin-right: 0; }
  .arcueil .content .social {
    flex-wrap: wrap; }
    .arcueil .content .social p {
      width: 100%;
      margin-bottom: 13px; }

  .offre {
    position: relative; }
    .offre .wrap-offre .left {
      padding: 26px 22px 25px 18px; }
      .offre .wrap-offre .left #offrechild {
        margin-top: 50px; }
        .offre .wrap-offre .left #offrechild .main {
          padding: 0;
          margin-top: 38px; }
    .offre .wrap-offre .right {
      padding: 23px 35px 27px 20px; }

  .bannerquestion .wrap .content .right a {
    padding: 20px 10px; }

  .renovation h3 {
    padding: 0 20px; } }

/*# sourceMappingURL=style.css.map */
